<mat-toolbar>
  <mat-form-field color="accent" class="trm-search-container">
    <input matInput type="text" (input)="search($event.target.value)">
  </mat-form-field>
  <mat-icon color="accent">search</mat-icon>
</mat-toolbar>
<mat-nav-list>
  <a mat-list-item *ngFor="let contact of (contacts$ | async); trackBy:trackById"
  [routerLink]="['/contacts', contact.id]">
    <img mat-list-avatar [src]="contact.image" alt="Picture of {{contact.name}}">
    <h3 mat-line>{{contact.name}}</h3>
    <button mat-mini-fab (click)="delete(contact)"><mat-icon>delete</mat-icon></button>
  </a>
  <a routerLink="/contacts/new" mat-fab title="Add a new contact" class="trm-floating-button">
    <mat-icon class="md-24">add</mat-icon>
  </a>
</mat-nav-list>
