<div class="trm-contacts-editor">
  <mat-card *ngIf="(contact$ | async) as contact">
    <mat-card-title-group class="fullBleed editing">
      <img mat-card-md-image [src]="contact.image" [alt]="'image of' + contact.name">
      <mat-card-title>{{contact.name}}</mat-card-title>
      <mat-card-subtitle>{{contact.email}}</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content fxLayout="column">
      <div fxLayout="column">
        <fieldset fxLayout="column">
          <trm-tabs>
            <trm-tab title="General">
              <mat-form-field fxFlex>
                <input matInput placeholder="Name" name="name" [(ngModel)]="contact.name" #name="ngModel" required minlength="3">
                <mat-hint align="end" *ngIf="!name.valid && !name.pristine">
                  <div *ngIf="name.errors.required">Name is required</div>
                  <div *ngIf="name.errors.minlength">Min length is {{name.errors.minlength['requiredLength']}}, actual length is {{name.errors.minlength['actualLength']}}</div>
                </mat-hint>
              </mat-form-field>
              <mat-form-field fxFlex>
                <input matInput placeholder="Email" name="email" [(ngModel)]="contact.email" #email="ngModel" trmEmailValidator trmCheckEmailAvailability>
                <mat-hint align="end" *ngIf="!email.valid && !email.pristine">
                  <div *ngIf="email.hasError('validateEmail')">Email is invalid</div>
                  <div *ngIf="email.hasError('emailTaken')">Email is taken</div>
                </mat-hint>
              </mat-form-field>
              <mat-form-field fxFlex>
                <input matInput placeholder="Phone" name="phone" [(ngModel)]="contact.phone">
              </mat-form-field>
              <mat-form-field fxFlex>
                <input matInput placeholder="Website" name="website" [(ngModel)]="contact.website">
              </mat-form-field>
              <mat-form-field fxFlex>
                <input matInput placeholder="Birthday" name="birthday" type="date" [(ngModel)]="contact.birthday">
              </mat-form-field>
            </trm-tab>
            <trm-tab title="Address" fxLayout="column">
              <legend>Address</legend>
              <mat-form-field fxFlex>
                <input matInput placeholder="Street" name="street" [(ngModel)]="contact.address.street">
              </mat-form-field>
              <mat-form-field fxFlex>
                <input matInput placeholder="Zip" name="zip" [(ngModel)]="contact.address.zip">
              </mat-form-field>
              <mat-form-field fxFlex>
                <input matInput placeholder="City" name="city" [(ngModel)]="contact.address.city">
              </mat-form-field>
            </trm-tab>
          </trm-tabs>
        </fieldset>
      </div>
    </mat-card-content>
    <mat-card-actions fxLayout fxLayoutAlign="center center">
      <button mat-button (click)="save(contact)" title="Save contact">Save</button>
      <button mat-button (click)="cancel()" title="Cancel editing">Cancel</button>
    </mat-card-actions>
  </mat-card>
</div>
